{# templates/home.html.twig #}

{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Min me-sida!</h1>
<p class="important">
<br>
<div class="mucont">
<img class="mucont_image" src="{{ asset("img/mu.jpg") }}" alt="Lilla jag med en mu-kompis.">
<div class="mucont_text">
<p>
Hej! Jag heter Signe och är född och uppvuxen i Nyköping som ligger cirka en timme
från Stockholm. Våren 2018 tog jag min gymnasieexamen efter tre års studier på
naturvetenskapslinjen och har sedan dess läst en del distanskurser inom data och
spanska.
<br><br>
På fritiden gillar jag att umgås med familj och vänner, spela gitarr, dansa, lyssna
på musik eller ta en skridskotur i ishallen. När jag är helt ledig älskar jag dessutom
att resa och upptäcka världen.
</p>
</div>
</div>
{% endblock %}
