kmom03
------

<b>Berätta hur det kändes att modellera ett kortspel med flödesdiagram och pseudokod. Var det något som du tror stödjer dig i din problemlösning och tankearbete för att strukturera koden kring en applikation?</b>
<p>Det är ett sätt att visualisera ens tankar inför en programmeringsuppgift. Man skissar
kanske först lite på ett papper, men renritar ett flödesdiagram gör man nog bara
om man har en kund som önskar det.</p>

<b>Berätta om din implementation från uppgiften. Hur löste du uppgiften, är du nöjd/missnöjd, vilken förbättringspotential ser du i din koden, dina klasser och applikationen som helhet?</b>
<p>Jag valde en ganska enkel variant av 21. När jag väl hade bestämt mig för
reglerna, gick det förhållandevis enkelt att lösa uppgiften. Det känns som om man
redan hade kommit en bra bit på väg när man hade kommit igenom förra kursmomentet.
Jag är nöjd med att jag lyckades realisera spelet, men det finns ju massor av
saker som man skulle kunna lägga till. Kanske borde jag ha skapat ytterligare
ett par klasser för att hålla reda på poängställning och dylikt. Det hade också
gått att göra ett snyggare användargränssnitt om jag hade satsat på riktiga
bilder av korten och inte bara genomskinliga "unicode"-tecken. Det finns många
hemsidor från spelbolag och dylikt, där man kan hämta inspiration. Slutligen
hade nog den cyklomatiska komplexiteten kunnat minskas en aning!
</p>

<b>Vilken är din känsla för att koda i ett ramverk som Symfony, så här långt in i kursen?</b>
<p>Jag tycker att det är med Symfony som med andra ramverk vi har stött på i kurserna.
I början känns det ovant, men sedan kommer man in i det mer och mer och då börjar
allt kännas enklare.
</p>

<b>Vilken är din TIL för detta kmom?</b>
<p>Jag har lärt mig att det finns många varianter på 21 och Blackjack. Kodmässigt
var kursmoment 2 en större utmaning. Det känns bra att man kan återanvända och
vidareutveckla kod man har skrivit tidigare.
</p>
